.title {
	font-weight: 500;
}
.title.center {
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

button {
	&.avatar-btn {
		padding: 0;

		img,
		.avatar-initials {
			width: 32px;
			height: 32px;
			padding: 4px;
			border-radius: 50%;
			display: inline-grid;
			place-items: center;
			font-weight: 600;
			font-size: 0.8rem;
		}
	}
}
