@use '@angular/material' as mat;

@font-face {
	font-family: 'Roboto Condensed';
	src: url('/fonts/RobotoCondensed-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;

	font-display: swap;
}

html {
	@include mat.theme(
		(
			color: (
				primary: mat.$rose-palette,
				tertiary: mat.$violet-palette,
			),
			typography: Roboto,
			density: 0,
		)
	);
}

// prettier-ignore
html.theme-rose { @include mat.theme((color: (primary: mat.$rose-palette, tertiary: mat.$violet-palette))); }
// prettier-ignore
html.theme-red { @include mat.theme((color: (primary: mat.$red-palette, tertiary: mat.$orange-palette))); }
// prettier-ignore
html.theme-blue { @include mat.theme((color: (primary: mat.$blue-palette, tertiary: mat.$cyan-palette))); }
// prettier-ignore
html.theme-green { @include mat.theme((color: (primary: mat.$green-palette, tertiary: mat.$spring-green-palette))); }
// prettier-ignore
html.theme-yellow { @include mat.theme((color: (primary: mat.$yellow-palette, tertiary: mat.$chartreuse-palette))); }
// prettier-ignore
html.theme-magenta { @include mat.theme((color: (primary: mat.$magenta-palette, tertiary: mat.$azure-palette))); }

body {
	color-scheme: light;
	background-color: var(--mat-sys-surface);
	color: var(--mat-sys-on-surface);
	font: var(--mat-sys-body-medium);

	margin: 0;
	font-family: Roboto, 'Helvetica Neue', sans-serif;
}

html,
body {
	height: 100%;
}

.spacer {
	flex: 1 1 auto;
}

/**
 * Angular Material theme overrides
 * https://material.angular.dev/guide/theming#overriding-component-styles
 *
 * Use these sparingly. Prefer using CSS variables in your components.
 * These overrides are global and affect all components of that type.
 */
@include mat.tabs-overrides(
	(
		active-indicator-height: 2px,
		container-height: 60px,
	)
);

@include mat.card-overrides(
	(
		elevated-container-shape: 4px,
	)
);

@include mat.dialog-overrides(
	(
		container-shape: 30px,
		container-elevation-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2),
		subhead-size: 20px,
		subhead-line-height: 30px,
		container-max-width: 96vw,
		content-padding: 0,
		subhead-font: Roboto Condensed,
	)
);
.mat-mdc-dialog-title {
	text-align: center;
}

.btn-primary {
	@include mat.button-overrides(
		(
			protected-container-color: color-mix(in srgb, var(--mat-sys-primary) 100%, white),
			protected-label-text-color: var(--mat-sys-on-secondary),
		)
	);
}

.btn-cancel {
	@include mat.button-overrides(
		(
			text-label-text-color: var(--mat-sys-secondary),
		)
	);
}

.btn-delete,
.btn-card-settings {
	@include mat.icon-button-overrides(
		(
			icon-color: var(--mat-sys-secondary),
		)
	);
}

.budget-table {
	@include mat.table-overrides(
		(
			row-item-label-text-size: 14px,
			row-item-outline-color: var(--mat-sys-outline-variant),
			row-item-label-text-font: Roboto Condensed,
		)
	);
	.striped-row:nth-child(even) {
		background-color: var(--mat-sys-surface);
	}
	.striped-row:nth-child(odd) {
		background-color: white;
	}
}
.mat-mdc-dialog-content .stack-toggle .mat-mdc-slide-toggle .mdc-label {
	padding-inline-start: 12px;
}
